[Unit]
Description=CodeScene behavioral code analysis tool
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=codescene
Environment=CODESCENE_DB_PATH=/home/codescene/codescene-db
ExecStart=/bin/java -Xms5128m -Xmx8g -jar /home/codescene/codescene-enterprise-edition.standalone.jar

[Install]
WantedBy=multi-user.target